.banner {
  width: 75vw;
  height: 500px;
  margin-top: 10px;
}
.poster {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
}
.poster .text {
  position: absolute;
  color: yellow;
  font-size: 34px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
